<!-- rightside start-->
<div class="layout-right">
	<!--mydetail-->
	<div class="mydetail">
		<h3>博主信息</h3>
		<ol class="mydetail_content">
			<li>Name：青椒白饭Mr.Xie</li>
			<li>Occupation：PHP程序猿，伪前端~</li>
			<li>Slogan：总有人要赢的，为什么不是我呢？</li>
		</ol>
	</div>
	<!--mydetail-->

	<!-- carousel start-->
	<div class="activity-list">
		<h3>活动列表</h3>
	</div>
	<!-- carousel end-->
	
	<!-- hotlist start-->
	<div class="hot-article-list" style="margin-top: 20px;">
		<h3>热门文章</h3>
		<ol class="hot_article_content">
			<volist	name="hot_list" id="vo">
				<li><a href="{:U('Index/detail',array('id' => $vo['id']))}">{$vo.title}</a><span class="hits">{$vo.readcounts}阅读</span></li>
			</volist>
		</ol>
	</div>
	<!-- hotlist start-->
	
	<!-- taglist start -->
	<div class="tag-list">
		<h3>标签云</h3>
		<ol>
			<volist name="tag_list" id="v">
				<a href="{:U('Index/tagcate',array('tagid' => $v['id']))}"><li class="tag_name">{$v.tagname}({$v.count}篇)</li></a>
			</volist>
		</ol>
	</div>
	<!-- taglist end -->
</div>
<!-- rightside end -->


