	{:W('Cate/header')}	
	<!-- bannerimg start -->
	<div class="layout-banner">
		<div class="banner_pic">
			<img src="__PUBLIC__/images/Home/Banner/banner.jpg">
		</div>
	</div>
	<!-- bannerimg end -->

	<div class="text-content">
		<div class="header-main">
			<!-- article start -->
			<div class="layout-left">
				<ul>
					<volist name="cate_list" id="v">
					<li class="article-list">
						<a href="{:U('Index/detail',array('id' => $v['id']))}"><img src="__ROOT__{$v.artpicture}">
						</a>
						<br>
						<a href="{:U('Index/detail',array('id' => $v['id']))}"><p class="article_title">{$v.title}</p></a>
						<br>
						<span class="article_info">
							<p class="article_content">
							<i class="layui-icon" style="font-size: 20px; color: #5FB878;">&#xe612;</i>文章作者：{$v.nickname}</p>
							<p class="article_content">
							<i class="layui-icon" style="font-size: 20px; color: #5FB878;">&#xe630;</i>所属分类：{$v.catename}</p>
							<p class="article_content">
							<i class="layui-icon" style="font-size: 20px; color: #5FB878;">&#xe64d;</i>所属标签：{$v.tagname}</p>
						</span>
						<span class="article_described">
							<i class="layui-icon" style="font-size: 20px; color: #5FB878;">&#xe60a;</i>内容描述：{$v.described} 
						</span>
						<a href="{:U('Index/detail',array('id' => $v['id']))}" class="article_detail_btn">查看详情<i class="layui-icon" style="font-size: 20px;position: absolute;line-height: 40px;right: -2px;">&#xe602;</i></a>
					</li>
				</volist>
				</ul>
				<div class="list-page">
				{$page}
				</div>
			</div>
			<!--  article end -->
			
			{:W('Cate/right')}
			
		</div>

			{:W('Cate/footer')}
	</div>
	<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
	<script>
		layui.use(['jquery','element','layer'], function(){
		    var layer = layui.layer;
			$ = layui.jquery;

			$('.search-form .layui-input').keydown(function(e){
				if (e.keyCode == 13) {
					var keyword = $('#keyword').val();
					if (keyword == '') {
						layer.open({
							title:'提示',
							content:'关键词不能为空'
						});
					}
					search(keyword);
				}
			});
			//活动列表初始化
			activitylist();
		});

		
	</script>
</body>
</html>