<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/main.css" />
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote">
				<p>本博客系统后台基于ThinkPHP3.2.3开发，前端页面展示基于经典的模块化框架LayUI搭建</p>
								
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend></legend>
				<div class="layui-field-box">
					<fieldset class="layui-elem-field layui-field-title">
						<legend>版本号:# v0.0.1 2017-03-20</legend>
						<div class="layui-field-box">
							<p>1、站点统计</p>
							<p>2、权限及菜单管理</p>
							<p>3、博客管理</p>
							<p>4、其它管理</p>
						</div>
					</fieldset>
				</div>
			</fieldset>
		</div>
	</body>

</html>